body{
            background-color:black;
}
            
#container{
            display: grid;
            grid-template-columns: repeat(3,100px);
            grid-template-rows: repeat(3,100px);
            grid-column-gap: 2px;
            grid-row-gap: 2px;
            padding:2px;
            width:304px;
            background-color:#000000;
            margin: 0 auto;
            
        }
section{
    text-align: center;
    margin: 0 auto;
}
            
.cell{
            color:aquamarine;
            font-family: sans-serif;
            background-color:#121212;
            border-radius:5px;
            font-size: 35px;
            padding:30px;
            text-align: center;
            position:relative;
            top:0px;
            left:0px;
            font-weight: bolder;
            transition: left 0.3s,top 0.3s;
        }
            
.cell:hover{
            background-color:deepskyblue;
            color:brown;
        }

#score{
            color:chartreuse;
        }
            